include common/paths
include common/mixins
block variables
doctype html
html
	head
		meta(charset="utf-8")
		title #{title[0]}
		meta(content=`${title[1]}` name="description")
		meta(content=`${title[2]}` name="keywords")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		//- <---- Add meta tags for sharing page ---->
		//- include common/meta
		link(rel="icon" href="favicon.ico" type="image/x-icon")

		//- To change folder look at templates/common/path.pug
		link(rel='stylesheet' type='text/css' href=`${ares}/css/foundation.css`)
		link(rel='stylesheet' type='text/css' href=`${ares}/css/app.css`)

		//- <---- Bootstrap 4 style ---->
		//- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")


		//- Font Awesome
		link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
		
		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		<![endif]-->
		
	body
		block content

		//- <---- jQuery ---->
		//- script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')

		//- <---- Bootstrap 4 script ---->
		//- script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
		//- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")

		//- To change folder look at templates/common/path.pug
		script(src=`${ares}/js/libs/svg4everybody.legacy.min.js`)
		script(src=`${ares}/js/app.js`)



