- var sectionHeader = 'Languages'
- var iconClass = 'fas fa-microphone'
-
  var languages = [
    {
      name: 'English',
      level: 'A2',
      practice: 'Studied at school and university. Correspondence with clients during work on freelance last half year.'
    },{
      name: 'Polish',
      level: 'B2',
      practice: 'Fluency at the conversation level. One year lived and studied in Poland.'
    }
  ]
section.resume__languages.resume__section
  h3.header--with-line= sectionHeader
  i(class=`${iconClass}`).resume__icon
  ul.languages__list
    each item in languages
      li.languages__item
        p.languages__name= item.name
          span.languages__level= item.level
        p.languages__practice= item.practice